# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.Game-Jam-1.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Usuario\UnityProjects\Mis proyectos\Game-Jam-1\.idea\.idea.Game-Jam-1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
